# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Variables & Local Credentials
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Vercel & Firebase build/cache
.vercel
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
